#title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
}

.center{
  margin: auto;
  padding: auto;
  text-align: center;
}

#image{
  max-width: 70%;
  height: auto;
  display: block;
}

h3{
  font-size: 15px;
  text-align: center;
  font-family: sans-serif;

}

h2{
text-align: center;
margin: auto;
color: red;
}
